<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


  <bean id="tarjetaJamesGosling" class="org.codigorupestre.spring.Tarjeta">
      <property name="banco" value="SpaceMoney"></property>
      <property name="numero" value="4563-3456-3456-34576"></property>
  </bean>

   <bean id="pago" class="org.codigorupestre.spring.Cliente" init-method="inicio" destroy-method="finalizar">  
       <!--      <property name="nombre" value="Rod Johnson"></property> -->
       <constructor-arg name="nombre"  value="James Gosling"></constructor-arg>
       <constructor-arg name="email" value="jamesGoling@spacenative.com"></constructor-arg>
       <property name="tarjeta" ref="tarjetaJamesGosling"></property>
   </bean>
   
    
   
</beans>
